* {
    font-family: "游ゴシック体", "Yu Gothic", "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    text-decoration: none;
    list-style-type: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_read-more {
    position: relative;

    width: 191px;
    padding: 20px 30px;

    border-radius: 50px;

    background: #FFFFFF;
}
.btn_read-more p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;

    color: #005DB0;
}
.btn_read-more::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    background-color: #005DB0;
}

.btn_next {
    position: relative;

    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 50%;

    background-color: #ffffff;
}
.btn_next img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 18px;
    height: auto;
}

.btn_prev {
    position: relative;

    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 50%;

    background-color: #ffffff;
}
.btn_prev img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 18px;
    height: auto;
}


/* ====================== header ======================= */
#header {
    box-sizing: border-box;

    background: #FFFFFF;
    border-bottom: 0.5px solid #ffffff66;

    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ==================== header-logo ==================== */
.logo {
    position: relative;
    width: 100px;
    height: auto;
}

.logo img {
    width: 100px;
}

/* ==================== header-nav ==================== */
.nav .list_btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
}

.nav_list_btn {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

/* ================= header-language ================== */
.language {
    position: relative;
    margin-left: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.language_btn_on {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    
    background: #E5EDF4;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #005DB0;
}

.language_btn_off {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8EAFCE;
}

/* =============== header-search+contact ============== */
.search_btn {
    position: relative;
    margin-left: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    background: #FFFFFF;
    border: 1px solid #EDEEF0;
    border-radius: 100px;
}

.search_btn img {
    width: 18px;
}

.contact_btn {
    position: relative;
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;

    background: #005DB0;
    border-radius: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* ======================= main ======================= */
.section {
    position: relative;
    width: 100%;

    background: #FFFFFF;
}

.content_txt {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content_txt .title_en {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #005DB0;
}
.content_txt .title_en::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;

    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);

    background-color: #005DB0;
}
.content_txt .title_jp {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #005DB0;
}

/* ===================== main-top ===================== */
.section-top {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: block;
}

.top_pic {
    position: relative;
    width:  100vw;
    height: 100vh;

    background-image: url("image/top_mv.jpg");
    background-size: cover;
    background-position: center center;
    
}

.top_pic ._wave {
    position: relative;
    width: 100vw;
    height: auto;
    top: 360px;
}

.section-top .content {
    position: absolute;
    z-index: 5;
    right: 0px;
    bottom: 60px;
    width: 685px;


    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
}

.top_news {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 685px;
    height: 65px;

    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
}
.top_news_date {
    position: relative;
    margin-left: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #00000066;
}
.top_news_title {
    position: relative;
    margin-left: 25px;

    width: 360px;

    font-size: 14px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top_news .control_btn {
    position: relative;
    margin-left: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


/* ===================== main-who ===================== */
.section-who {
    position: relative;
    width: 100%;
    overflow: hidden;

    display: block;

    background-color: #0B5092;
    background-image: url("image/top_who_bg.png");
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: center 750px;

    padding: 240px 0px;
}

.section-who .container{
    width: 100%;
    max-width: 1292px;
    margin-left: 10%;
}

.section-who .content {
    position: relative;
    width: 45%;
    padding-right: 80px;
}

.section-who .content_txt .title_en {
    color: #FFFFFF;
}
.section-who .content_txt .title_en::after {
    background-color: #ffffff;
}
.section-who .content_txt .title_jp {
    color: #ffffff;
    margin-bottom: 40px;
}
.section-who .content_txt h3 {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.all_content_txt {
    margin-bottom: 40px;

    line-height: 1.5em;
    letter-spacing: 0.05em;
    text-align: justify;

    color: #FFFFFF;
}

.section-who .image_box{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 45%;

    display: flex;
    align-items: stretch;
    justify-content: center;
}
.section-who .image_box .img{
    width: 33.3333%;
    overflow: hidden;
}
.section-who .image_box .img:nth-of-type(2){
    transform: translateY(-50px);
}
.section-who .image_box .img:nth-of-type(3){
    transform: translateY(50px);
}
.section-who .image_box .img img{
    width: 100%;
    display: block;
}

/* ===================== main-business ===================== */
.section-business {
    position: relative;
    width: 100%;

    display: block;

    padding: 240px 0px 0px 0px;
}

.section-business .container{
    width: 100%;
    max-width: 1292px;
    margin-left: 10%;
}

.section-business .content {
    position: relative;
    width: 100%;
    
}

.section-business .content_txt {
    margin-bottom: 80px;
}

.section-business .content_img {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
}
.section-business .image_box {
    position: relative;

    width: 50%;
    height: 600px;
    overflow: hidden;
}
.section-business .image_box_link {
    display: block;
    width: 100%;
    height: 100%;
}
.section-business .image_box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.section-business .image_box .content_txt {
    position: relative;
    top: -173px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px 40px;
    margin-bottom: 0px;
}
.section-business .image_box .txt_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 1;
}
.section-business .image_box .content_txt .title_en {
    color: #FFFFFF;
}
.section-business .image_box .content_txt .title_en::after {
    content: "";
    width: 0px;
    height: 0px;
}
.section-business .image_box .content_txt .title_jp {
    color: #ffffff;
}

.section-business .btn_next {
    flex-shrink: 0;
}
.section-business .btn_next img {
    position: relative;
    top: 36px;
    left: 34px;

    width: 18px;
    height: auto;
    justify-content: 0 auto;
}

/* ===================== main-service ===================== */
.section-service {
    position: relative;
    width: 100%;

    display: block;

    padding: 240px 0px 0px 0px;
}

.section-service .container{
    width: 100%;
    max-width: 1292px;
    margin-left: 10%;
}

.section-service .content {
    position: relative;
    width: 100%;
}

.section-service .content_txt {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
}
.section-service .txt_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 1;
}
.section-service .btn_read-more {
    margin-right: 10%;
    background-color: #F7F8FA;

    flex-shrink: 0;
}

.swiper_container {
    position: relative;
    width: 100%;
    height: 648px;

    overflow-x: scroll;
}
.swiper_wrapper {
    position: relative;
    width: 183%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
}
.section-service .service_list {
    position: relative;
    
    display: block;
    width: 33.4%;
    height: 648px;
    overflow: hidden;
}

.section-service .service_list:first-child {
    background-image: url("image/top_service_about.jpg");
    background-size: cover;
    background-position: center center;
}
.section-service .service_list:nth-child(2) {
    background-image: url("image/top_service_technology.jpg");
    background-size: cover;
    background-position: center center;
}
.section-service .service_list:nth-child(3) {
    background-image: url("image/top_service_infra.jpg");
    background-size: cover;
    background-position: center center;
}
.section-service .service_list:nth-child(4) {
    background-image: url("image/top_service_system.jpg");
    background-size: cover;
    background-position: center center;
}
.section-service .service_list:nth-child(5) {
    background-image: url("image/top_service_scaleup.jpg");
    background-size: cover;
    background-position: center center;
}

.section-service .service_txt {
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-align: justify;

    padding: 0px 45px;
    margin: 50% auto;
}
.section-service .service_txt h3 {
    font-size: 26px;
    line-height: 40px;

    margin-bottom: 0.8em;
}
.section-service .service_txt p {
    font-size: 14px;
    line-height: 25px;
}

.section-service .btn_next img {
    position: absolute;
    top: 36px;
    left: 34px;
}
.section-service .service_list .btn_next {
    position: absolute;
    bottom: 45px;
    left:45px
}

.section-service .service_list_link{
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;
}

/* =================== main-service-srollbar =================== */
.swiper_control-bar{
    width: 90%;
    max-width: 1144px;
    margin-top: 40px;
    margin-left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.swiper_control-bar .scrollbar {
    position: relative;
    width: 944px;
    height: 2px;
    background-color: #EDEEF0;

    flex-shrink: 1;
}

.swiper_control-bar .scrollbar::after {
    content: "";
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 462px;
    height: 4px;
    border-radius: 10%;

    background-color: #005DB0;
}

.swiper_control-bar .btn_next {
    width: 80px;
    height: 80px;
    border: 1px solid #EDEEF0;

    flex-shrink: 0;
}
.swiper_control-bar .btn_next img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    flex-shrink: 0;
}
.swiper_control-bar .btn_prev {
    width: 80px;
    height: 80px;
    border: 1px solid #EDEEF0;
    opacity: 0.5;

    flex-shrink: 0;
}
.swiper_control-bar .btn_prev img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    flex-shrink: 0;
}

/* ===================== main-achievements ===================== */
.section-achievements {
    position: relative;
    width: 100%;

    display: block;

    padding: 240px 0px;
}

.section-achievements .container{
    width: 80%;
    max-width: 1144px;
    margin: 0 auto;
}

.section-achievements .content {
    position: relative;
    width: 100%;
}

.section-achievements .content_txt {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
}
.section-achievements .txt_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 1;
}
.section-achievements .btn_read-more {
    flex-shrink: 0;

    background-color: #F7F8FA;
}

.achievements_category {
    position: relative;
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.achievements_category li {
    position: relative;
    display: block;
    width: 50%;
    height: 70px;
}
.achievements_category ._tab {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;

    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    background-color: #005DB0;
}
.achievements_category ._default {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;

    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #005DB0;

    background-color: #F6F8FA;
}

/* ================ main-achievements-container ================ */
.achievements_container{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;

    margin-top: 80px;
}
.achievements_container .menu {
    display: block;
    width: 208px;

    flex-shrink: 0;
    flex-grow: 0;
}
.achievements_main {
    width: 75%;
    max-width: 886px;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 50px;

    flex-shrink: 1;
    flex-grow: 1;
}

.achievements_main .case {
    display: block;
    width: 47%;
    margin-bottom: 30px;

    flex-shrink: 1;
    flex-grow: 1;
}
.achievements_main .case:nth-child(5) {
    flex-grow: 0;
}

.achievements_main .case ._img {
    width: 100%;
    height: 278px;
    overflow: hidden;
}
.achievements_main .case img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.achievements_main .case ._head {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;

    color: #747474;
}
.achievements_main .case .tag-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.achievements_main .case .tag-group p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    padding: 5px 15px;

    color: #747474;
    background-color: #F6F8FA;
    border-radius: 20px;
}

.achievements_main .case ._title {
    margin-top: 15px;
    text-align: justify;
}
.achievements_main .case ._title h3 {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    
    color: #0E5DA8;
}
.achievements_main .case ._title p {
    height: 48px;
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;

    color: #000000;
}

.section-achievements ._btn {
    margin-top: 50px;
}
.section-achievements ._btn .btn_read-more {
    display: block;
    margin: 0 auto;
}

.achievements_container .tag_tap {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0.05em;
    padding: 5px 15px;

    color: #FFFFFF;
    background-color: #005DB0;
    border-radius: 20px;
}

.achievements_container .menu_category {
    width: 100%;
    margin-top: 40px;
}
.achievements_container .menu_btn_open {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #005DB0;
}
.achievements_container .menu_btn_open ._title {
    font-weight: 600;
    font-size: 18px;
    padding-right: 5px;
}
.achievements_container .menu_btn_open ._small {
    font-weight: 400;
    font-size: 14px;
    margin-right: auto;
}
.achievements_container .menu_btn_open img {
    width: 10px;
    height: auto;
}
.achievements_container .menu_category .list_btn {
    margin-top: 20px;
}
.achievements_container .menu_category .list_btn li {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;

    color: #000000;
}

/* ===================== main-recruit ===================== */
.section-recruit{
    position: relative;
    
    display: block;
    width: 100%;
    padding: 160px 0px;
    overflow: hidden;

    background-image: url("image/top_recruit_bg.jpg");
    background-size: cover;
    background-position: center center;
}

.section-recruit .container{
    width: 80%;
    max-width: 1144px;
    margin: 0 auto;
}

.section-recruit .content {
    position: relative;
    width: 45%;
}

.section-recruit .content_txt .title_en {
    color: #FFFFFF;
}
.section-recruit .content_txt .title_en::after {
    background-color: #ffffff;
}
.section-recruit .content_txt .title_jp {
    color: #ffffff;
    margin-bottom: 40px;
}

/* ====================== main-news ====================== */
.section-news {
    position: relative;
    width: 100%;

    display: block;

    padding: 240px 0px 0px 0px;
}
.section-news .container{
    width: 80%;
    max-width: 1144px;
    margin: 0 auto;
}
.section-news .content {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 80px;
}

.section-news .content .news {
    align-self: stretch;
}

.section-news .content .content_txt {
    margin-bottom: 40px;
}

.section-news .list_news {
    margin-bottom: 40px;
}
.section-news .list_news ._head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    height: 30px;
    margin-bottom: 10px;

    line-height: 1.5em;
    letter-spacing: 0.05em;
}
.section-news .list_news ._head time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #747474;
}
.section-news .list_news ._head .tag_news {
    padding: 5px 15px;
    border: 1px solid #EDEEF0;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;

    color: #005DB0;
}
.section-news .list_news p {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: justify;

    color: #000000;
}

.section-news ._btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    margin-top: 80px;
}
.section-news ._btn .btn_read-more {
    flex-grow: 0;
    flex-shrink: 0;

    display: block;
    margin-left: auto;

    background-color: #F7F8FA;
}
.section-news ._btn::before {
    content: "";

    flex-grow: 1;
    flex-shrink: 1;
    
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 10%;

    background-color: #74747466;
}

/* =================== main-C NEUTRAL =================== */
.section-CNEUTRAL {
    position: relative;
    
    display: block;
    width: 100%;
    margin-top: 160px;
    padding: 0px 0px 160px 0px;
    overflow: hidden;

    background-image: url("image/top_carbon_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.section-CNEUTRAL .container{
    width: 80%;
    max-width: 1144px;
    margin: 0 auto;
}
.section-CNEUTRAL .content {
    position: relative;
    width: 50%;
}

.section-CNEUTRAL .content_txt .title_en {
    color: #73BC5D;
}
.section-CNEUTRAL .content_txt .title_en::after {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);

    background-color: #73BC5D;
}
.section-CNEUTRAL .content_txt .title_jp {
    color: #73BC5D;
    margin-bottom: 315px;
}
.section-CNEUTRAL .content_txt h3 {
    margin-bottom: 40px;

    font-family: 'Noto Sans JP';
    font-weight: 400;
    font-size: 27.5px;
    line-height: 1.8em;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

/* =================== main-contact ==================== */
.section-contact {
    padding: 120px 0px;
    background:linear-gradient(275.46deg, #0B5092 0%, #6188FF 100%);
}
.section-contact .container{
    width: 68%;
    max-width: 984px;
    margin: 0 auto;
}
.section-contact .content {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-contact .content_txt {
    flex-grow: 1;
    flex-shrink: 1;
}
.section-contact .content_txt .title_en {
    margin-bottom: 40px;

    font-size: 20px;
    color: #FFFFFF;
}
.section-contact .content_txt .title_en::after {
    background-color: #FFFFFF;
}
.section-contact .content_txt .title_jp {
    margin-bottom: 10px;

    font-size: 36px;
    color: #FFFFFF;
}
.section-contact .content_txt p {
    font-size: 16px;
    color: #FFFFFF;
}

.section-contact ._btn {
    flex-grow: 0;
    flex-shrink: 0;
}
.section-contact ._btn .btn_read-more {
    display: block;
}

.section-contact .contact_link {
    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;
}

/* ===================== footer ====================== */
.footer {
    padding: 160px 0px;
    background: #1D2B3B;
}
.footer .container {
    width: 86%;
    max-width: 1240px;
    margin: 0 auto;
}
.footer .content {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 160px;
}

.footer .office {
    display: block;
    width: 28%;

    flex-shrink: 0;
    flex-grow: 0;
}
.footer .menu_footer {
    width: 60%;
    max-width: 733px;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 80px;

    flex-shrink: 1;
    flex-grow: 1;
}

.footer .office .logo_footer {
    display: block;
    width: 100px;
    height: 50px;
    margin-bottom: 80px;
}
.footer .office .logo_footer img {
    width: 100%;
    height: auto;
}
.footer .office .name {
    margin-bottom: 20px;

    font-family: 'Noto Sans JP';
    font-weight: 350;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.footer .office address {
    margin-bottom: 40px;

    font-family: 'Noto Sans JP';
    font-weight: 350;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.footer .office .social-media {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 40px;
}
.footer .office .social-media img {
    width: 100%;
    height: auto;
}
.footer .office .banner_footer {
    display: block;
    aspect-ratio: 348/126;
}
.footer .office .banner_footer img {
    width: 100%;
    height: auto;
}

.footer .menu_footer .menu_colunm {
    display: block;

    flex-shrink: 1;
    flex-grow: 1;
}
.footer .menu_colunm .list_footer {
    width: 100%;
    margin-bottom: 40px;
}

.footer .menu_colunm .list_footer ._main {
    margin-bottom: 40px;
}
.footer .menu_colunm .list_footer ._main a {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer .menu_colunm .list_footer .sub-list_footer {
    margin-bottom: 15px;
}
.footer .menu_colunm .list_footer .sub-list_footer a {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #ffffff99;
}
.footer .menu_colunm .list_footer .head_samll {
    margin-bottom: 15px;
}
.footer .menu_colunm .list_footer .head_samll a {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    color: #ffffff80;
}